%footer 
  .footer-section
    .icon-row
      = link_to '', 'facebook.com', class: 'icon', id: 'fb'
      = link_to '', 'twitter.com', class: 'icon', id: 'twitter'
      = link_to '', 'instagram.com', class: 'icon', id: 'insta'
      = link_to '', 'youtube.com', class: 'icon', id: 'youtube' 
      = link_to '', 'linkedin.com', class: 'icon', id: 'linked'
    2018 Tech Takeoff. All Rights Reserved.