.tt-content-wrap
  = render 'navbar'
  = render 'hero'
  .tt-section#about
    = render 'about'
  .tt-section#why
    = render 'products'
  .tt-section.team-section#who
    %h2
      The people that make all this possible
  .tt-section#team
    = render 'team_slide'
    .arrow-right
      = image_tag('icons/arrow-right.svg', :alt => 'Arrow', class: 'Arrow Right')
  .tt-section#contact
    = render 'contact'
= render 'footer'